body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}
#search{
  background-color: #92d4aa;
  padding-bottom: 10px;
}

#searchFChild{
  display: flex;
  background-color: #92d4aa;
}
#searchSChild{
  display: flex;
  background-color: #92d4aa;
}
.container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #92d4aa;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  color: #333;
}

h1 {
  color: #333;
  text-align: center;
}

label {
  font-weight: bold;
  margin-right: 10px;
}

select,
input[type="text"] {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

thead {
  background-color: #ddd;
}

th,
td {
  padding: 8px; /* Adjusted padding */
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  font-weight: bold;
}

tr:hover {
  background-color: #f9f9f9;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

input[type="checkbox"] {
  transform: scale(0.8);
}

/* Add more styles based on your design preferences */
